// Card.scss

.card {
  border: 1px solid #ddd;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 400px; 
  margin: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
 

  &__title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-family: var(--font-roboto);
  }

  &__image {
    width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-bottom: 12px;
    object-fit: cover;
    
  }

  &__placeholder {
    width: 100%;
    height:170px; /* Set the desired height */
    max-height: 100%; /* Ensure it doesn't exceed 100% of the container height */
    border-radius: 8px;
    margin-bottom: 12px;
    background-image: url('../../../assets/img/1.jpg');
    background-size: cover; /* Adjust this based on your requirements */
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60%;
    object-fit: cover;
  }

  &__content {
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: 260px;
    border-radius: 8px;

    &__image {
      width: 100%;
      max-height: 200px;
      border-radius: 8px;
      margin-bottom: 12px;
      object-fit: cover;
    }
  }
}
