.BasketContainer {
  text-align: center;
  font-family: var(--font-roboto-condensed);
  height: 100vh;
}

.title{
  padding-bottom: 20px;
}
.pizzaTitle{
  text-decoration: none;
  cursor: pointer;
}
.NoTopping{
  color:red
}

hr{
  border: 0.8px solid rgb(224, 216, 216);
  margin-top: 5px;
 margin-bottom: 5px;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.totalPrice {
  margin-top: auto; /* Push the total price to the bottom */
  font-size: 1.2em; /* Adjust font size as needed */
}