.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pizza-menu-container {
  display: flex;
  flex-direction: row;

}

.pizza-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
flex: 2;
}

.basket-container {
 background-color: aqua;
width: 20%;
}
@media (max-width: 768px) {
  .pizza-items-container {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 100%;
  }

  .basket-container {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pizza-items-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .pizza-menu-container {
    display: flex;
    flex-direction: row;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .basket-container {
    display: none;
  }
}
